<button
  type="button"
  [ngClass]="
    isLocked
      ? 'bg-gray-600 hover:bg-gray-700 text-white'
      : 'bg-gray-200 hover:bg-gray-300 text-gray-600'
  "
  class="
    flex
    justify-center
    items-center
    transition
    ease-in
    duration-200
    text-center text-base
    font-semibold
    w-7
    h-7
    rounded-lg
  "
  (click)="onButtonClick()"
>
  <svg
    *ngIf="isLocked; else unlockIcon"
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
    />
  </svg>
  <ng-template #unlockIcon>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
      />
    </svg>
  </ng-template>
</button>
