svg {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
  filter: drop-shadow(0 1px 1px hsla(208, 60%, 0%, 0.06))
    drop-shadow(0 2px 2px hsla(208, 60%, 20%, 0.12))
    drop-shadow(0 5px 16px hsla(208, 60%, 70%, 0.15));
}
