{
  "singleQuote": true,
  "useTabs": false,
  "semi": false,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js"
}
