button {
  transition: 0.005s;
  @apply rounded-full;
  svg {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  &:active {
    transform: translateY(1px);
    img.active {
      display: block;
    }
    img.default {
      display: none;
    }
  }
}
