button {
  @apply font-bold;
  @apply text-2xl;
  @apply tracking-wider;
  transition: 0.005s;
  svg {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .hover-shadow {
    background: hsla(208, 60%, 70%, 0.2);
    @apply blur-none;
    opacity: 0;
    transition: 0.05s;
  }
  &:hover {
    .hover-shadow {
      @apply blur-sm;
      opacity: 1;
    }
    .button-bg path {
      fill: inherit;
    }
  }
  &:active {
    transform: translateY(1px);
    img.active {
      display: block;
    }
    img.default {
      display: none;
    }
  }
}
