button {
  transition: 0.005s;
  .wand-down {
    transform: translate(1px, 1px) rotateZ(5deg);
  }

  &:active {
    transform: translateY(1px);
    .wand-down {
      display: block;
    }
    .wand-up {
      display: none;
    }
  }
}
