<button type="button" [class.invisible]="hidden" class="
    flex
    justify-center
    items-center
    bg-transparent
    p-1
    rounded-lg
  " (click)="onButtonClick()">
  <ng-container *ngIf="!forcePressedState">
    <img class="wand-up min-h-[1.5rem] h-6 min-w-[1.5rem] w-6" src="assets/icons/wand_up.svg" alt="" />
    <img class="wand-down hidden min-h-[1.5rem] h-6 min-w-[1.5rem] w-6" src="assets/icons/wand_down.svg" alt="" />
  </ng-container>
  <ng-container *ngIf="forcePressedState">
    <img class="wand-down min-h-[1.5rem] h-6 min-w-[1.5rem] w-6" src="assets/icons/wand_down.svg" alt="" />
  </ng-container>
</button>