<div class="bg-gradient-to-r from-gray-400 to-blue-500 py-8">
  <div class="container mx-auto">
    <h1 class="mb-6">Character Design Ideator</h1>

    <p>You'll never have the blank page again</p>
  </div>
</div>
<div class="container mx-auto py-5">
  <button
    type="button"
    (click)="rollAllAttributes()"
    class="
      py-2
      px-4
      bg-indigo-600
      hover:bg-indigo-700
      text-white
      w-full
      transition
      ease-in
      duration-200
      text-center text-base
      font-semibold
      shadow-md
      rounded-lg
    "
  >
    Générer
  </button>
  <div>
    <div *ngFor="let category of categories" class="mb-5">
      <ng-container
        *ngTemplateOutlet="randomizedAttribute; context: { category: category }"
      ></ng-container>
    </div>
  </div>
</div>

<ng-template #randomizedAttribute let-category="category">
  <h5>{{ category.name }}</h5>
  <p>{{ category.selected }}</p>
</ng-template>
