<div class="container mx-auto flex justify-between items-end pr-4 mb-10">
  <div class="banner flex items-baseline gap-x-8 text-white pl-4 pr-20 py-8">
    <h1 class="font-bold tracking-wide">✨ Sparkles</h1>
    <p class="font-sans tracking-wider">
      Your creative companion to ignite your hero design ideas.
    </p>
  </div>
  <div>
    <app-generate-button (onClick)="rollAllTraits()"></app-generate-button>
  </div>
</div>
<div class="container mx-auto px-4">
  <div class="grid grid-cols-3 gap-12">
    <div class="col-span-1">
      <div class="relative mb-10">
        <div class="flex mb-3">
          <h4 class="flex-grow">Archetype</h4>
          <div class="flex gap-1 px-3">
            <app-reroll-button
              *ngIf="!coreTraitsCategory.locked"
              (onClick)="rollCategoryTraits(coreTraitsCategory)"
            ></app-reroll-button>
            <app-lock-button
              (onClick)="toggleCategoryLock(coreTraitsCategory)"
              [isLocked]="coreTraitsCategory.locked"
            ></app-lock-button>
          </div>
        </div>
        <div class="card">
          <div
            *ngFor="let trait of coreTraitsCategory.traits; let isLast = last"
            [class.mb-6]="!isLast"
          >
            <ng-container
              *ngTemplateOutlet="
                genericTrait;
                context: { category: coreTraitsCategory, trait: trait }
              "
            ></ng-container>
          </div>
        </div>
      </div>
      <div class="relative mb-10">
        <div class="flex mb-3">
          <h4 class="flex-grow">Physical traits</h4>
          <div class="flex gap-1 px-3">
            <app-reroll-button
              *ngIf="!physicalTraitsCategory.locked"
              (onClick)="rollCategoryTraits(physicalTraitsCategory)"
            ></app-reroll-button>
            <app-lock-button
              (onClick)="toggleCategoryLock(physicalTraitsCategory)"
              [isLocked]="physicalTraitsCategory.locked"
            ></app-lock-button>
          </div>
        </div>
        <div class="card">
          <div
            *ngFor="
              let trait of physicalTraitsCategory.traits;
              let isLast = last
            "
            [class.mb-6]="!isLast"
          >
            <ng-container
              *ngTemplateOutlet="
                genericTrait;
                context: { category: physicalTraitsCategory, trait: trait }
              "
            ></ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2 relative mb-10">
      <div class="flex">
        <h4 class="flex-grow mb-3">Equipments</h4>
        <div class="flex gap-1 px-3">
          <app-reroll-button
            *ngIf="!equipmentsCategory.locked"
            (onClick)="rollCategoryTraits(equipmentsCategory)"
          ></app-reroll-button>
          <app-lock-button
            (onClick)="toggleCategoryLock(equipmentsCategory)"
            [isLocked]="equipmentsCategory.locked"
          ></app-lock-button>
        </div>
      </div>
      <div class="grid grid-cols-3 grid-rows-12 gap-4">
        <ng-container *ngFor="let trait of equipmentsCategory.traits">
          <ng-container
            *ngTemplateOutlet="equipmentTrait; context: { trait: trait }"
          ></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #genericTrait let-category="category" let-trait="trait">
  <h6 class="">
    {{ trait.name }}
  </h6>
  <div class="flex">
    <p
      class="flex-grow text-xl font-medium tracking-wide"
      style="min-height: 24px"
    >
      {{ trait.selected }}
    </p>
    <div class="flex gap-1">
      <app-reroll-button
        *ngIf="!trait.locked"
        (onClick)="rollTrait(trait)"
      ></app-reroll-button>
      <app-lock-button
        (onClick)="toggleTraitLock(category, trait)"
        [isLocked]="trait.locked"
      ></app-lock-button>
    </div>
  </div>
</ng-template>

<ng-template #equipmentTrait let-trait="trait">
  <div class="card flex {{ trait.dimensions }}">
    <div
      class="flex items-center rounded-lg px-2"
      [style.backgroundColor]="trait.color"
    >
      <img src="./assets/icons/{{ trait.icon }}.svg" alt="" class="w-9 h-9" />
    </div>
    <p
      class="
        flex-grow
        text-xl
        font-medium
        self-center
        text-center
        tracking-wide
      "
    >
      {{ trait.selected }}
    </p>
    <div class="flex flex-col justify-between gap-2">
      <app-reroll-button
        *ngIf="!trait.locked"
        (onClick)="rollTrait(trait)"
      ></app-reroll-button>
      <div *ngIf="trait.locked" class="h-7 w-7"></div>
      <app-lock-button
        (onClick)="toggleTraitLock(equipmentsCategory, trait)"
        [isLocked]="trait.locked"
      ></app-lock-button>
    </div>
  </div>
</ng-template>
