.banner {
  position: relative;
  ::after {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    z-index: -1;
    border-bottom-right-radius: 52px;
  }
}
