<div class="
relative
flex flex-col
items-start
gap-x-8
text-white
pr-4
pt-6
pb-4 sm:pb-8
sm:pr-20
">
  <img src="assets/icons/logo_full.svg" alt="" class="cursor-pointer" (click)="clearAllUrlParams()" />
  <p class="font-sans tracking-wider">
    Your creative companion to ignite your hero design process.
  </p>
  <img src="assets/img/brush-stroke.svg" alt=""
    class="image-adjustments absolute -z-10 [980px] left-[-260px] xl:w-[1300px] -bottom-[60%] sm:-bottom-[50%] xl:-bottom-[70%] lg:left-[-295px] xl:left-[-450px] max-w-none select-none" />
  <img src="assets/img/ink-2.svg" alt=""
    class="absolute -z-10 -right-[170px] xl:-right-[330px] -top-[13px] max-sm:hidden select-none" />
</div>