.paper-bg {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 1px 1px hsla(208, 60%, 0%, 0.06))
    drop-shadow(0 16px 6px hsla(208, 60%, 30%, 0.15))
    drop-shadow(0 16px 18px hsla(208, 60%, 30%, 0.15));
}
