:host {
  display: block;
  animation: custom-dialog-enter 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-height: 100vh;
  overflow-y: auto;
  @apply max-w-2xl;
  @apply max-md:max-w-full;
  @apply w-[2000px];
  @apply relative;
  @apply px-1;
  @apply py-2;
}

@keyframes custom-dialog-enter {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}
