/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@angular/cdk/overlay-prebuilt.css';

@layer base {
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Regular.ttf) format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Medium.ttf) format('truetype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-SemiBold.ttf) format('truetype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Bold.ttf) format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Black.ttf) format('truetype');
    font-weight: 900;
  }

  html {
    @apply text-stone-800;
  }

  h1 {
    @apply text-5xl;
    @apply sm:text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
    @apply font-medium;
  }
  h5 {
    @apply text-base;
    @apply tracking-wider;
    @apply uppercase;
    @apply font-sans;
  }
  h6 {
    @apply uppercase;
    @apply text-xs;
    @apply tracking-wider;
    @apply font-sans;
  }
  a {
    @apply underline;
    @apply font-sans;
  }
  p {
    @apply font-sans;
  }

  .secondary-button {
    @apply font-sans font-medium;
    @apply tracking-wider;
    @apply flex;
    @apply items-center;
    @apply gap-2;
    @apply px-4;
    @apply py-2;
  }

  .paper-bg {
    @apply h-full;
    @apply w-full;
    filter: drop-shadow(0 1px 1px hsla(208, 60%, 0%, 0.06))
      drop-shadow(0 16px 6px hsla(208, 60%, 30%, 0.15))
      drop-shadow(0 16px 18px hsla(208, 60%, 30%, 0.15));
  }

  input[type='checkbox'] {
    @apply rounded-sm border-2 outline-none checked:bg-black hover:cursor-pointer hover:checked:bg-black focus:ring-transparent focus:checked:bg-black disabled:cursor-not-allowed;
  }
  input[type='radio'] {
    @apply border-2 outline-none checked:bg-black hover:cursor-pointer hover:checked:bg-black focus:ring-transparent focus:checked:bg-black;
  }
  label {
    @apply hover:cursor-pointer;
  }

  :focus-visible {
    outline: none;
  }

  .dialog-backdrop {
    @apply bg-black/50;
    @apply backdrop-blur-sm;
    transition: opacity 250ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .ripped-paper-bg {
    border-width: 8px;
    border-image: url('/assets/img/ripped-paper/ripped_paper-xl-1.svg') 33 fill;
    isolation: isolate;
    &.alt {
      border-image: url('/assets/img/ripped-paper/ripped_paper-xl-2.svg') 33
        fill;
    }
  }
}
