/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Regular.ttf) format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Medium.ttf) format('truetype');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-SemiBold.ttf) format('truetype');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Bold.ttf) format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: 'Recoleta';
    src: url(assets/fonts/Recoleta-Black.ttf) format('truetype');
    font-weight: 900;
  }  
  
  html {
    @apply text-stone-800;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Work Sans', sans-serif;
  }
  h1 {
    @apply text-5xl;
    @apply sm:text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-base;
    @apply font-medium;
    @apply tracking-wider;
    @apply uppercase;
  }
  h6 {
    @apply uppercase;
    @apply text-xs;
    @apply tracking-wider;
  }
  a {
    @apply text-blue-600 underline;
  }

  dialog {
    @apply container;
    @apply max-w-2xl;
    &::backdrop {
      @apply bg-black/20;
      @apply backdrop-blur-sm;
    }
  }

  input[type='checkbox'] {
    @apply rounded-sm border-2 outline-none checked:bg-black hover:cursor-pointer hover:checked:bg-black focus:ring-transparent focus:checked:bg-black disabled:cursor-not-allowed;
  }
  input[type='radio'] {
    @apply border-2 outline-none checked:bg-black hover:cursor-pointer hover:checked:bg-black focus:ring-transparent focus:checked:bg-black;
  }
  label {
    @apply hover:cursor-pointer;
  }
}
