<div class="ripped-paper-bg py-2 px-4">
    <app-close-button (onClick)="dialogRef.close()"></app-close-button>
    <h3 class="mb-4">About Loremancer</h3>
    <h4>The project</h4>
    <section class="mb-6">
        <p class="mb-4">Loremancer is your creative sidekick in the land of fantasy. Whether you're stuck in a design
            phase or seeking fresh ideas, Loremancer helps make the magic happen!
        </p>

        <p class="mb-2"><span class="font-semibold">Inspiration: </span>RNG-powered, because nothing says creativity
            like a well-placed dice roll.</p>
        <p class="mb-2"><span class="font-semibold">Customization: </span>Once satisfied with the suggestions, lock the
            elements and fine-tune your characters to the point where even their backstory has a backstory.
        </p>
        <p class=""><span class="font-semibold">Visualization: </span>Finding strong references shouldn't feel like a
            side quest—it should be the main story arc.
        </p>
    </section>
    <section class="mb-2">
        <h4>The creator</h4>
        <p class="mb-2">Loremancer is the brainchild of <span class="font-medium">Bastien Cailhol</span>, a developer
            with a passion for fantasy worlds and clever design. He gamified the character designing process to help
            fellow artists level up their imagination.
        </p>
        <p class="mb-2">Special thanks to <a href="https://github.com/SylvainMarty" target="_blank"
                rel="noopener noreferrer">Sylvain Marty</a> for his invaluable help!</p>
        <hr class="my-3">
        <p class="mb-2">Have feedback or found a bug? Send a raven. Or reach us on social media—that works too.
        </p>
        <div class="grid sm:grid-cols-3 gap-2">
            <a href="mailto:bastien.cailhol@gmail.com" class="text-sm"><img src="assets/icons/email.svg"
                    alt="">bastien.cailhol@gmail.com
            </a>
            <a href="https://github.com/bastiencailhol/loremancer" target="_blank" rel="noopener noreferrer"
                class="text-sm"><img src="assets/icons/github.svg" alt="">bastiencailhol/loremancer
            </a>
            <a href="https://www.linkedin.com/in/bastiencailhol/" target="_blank" rel="noopener noreferrer"
                class="text-sm"><img src="assets/icons/linkedin.svg" alt="">bastiencailhol
            </a>
        </div>
    </section>
</div>