<div class="ripped-paper-bg py-2 px-4">
    <app-close-button (onClick)="dialogRef.close()"></app-close-button>
    <h3 class="mb-4">About Loremancer</h3>
    <h4>The project</h4>
    <section class="mb-6">
        <p class="mb-4">Loremancer is a character creation tool designed for concept artists and illustrators
            in the fantasy genre.<br>
            Whether you're stuck in a design phase or seeking fresh ideas, Loremancer helps make the magic happen!
        </p>

        <p class="mb-2"><span class="font-semibold">Inspiration: </span>Loremancer taps into the power
            of RNG to provide countless unique combinations.</p>
        <p class="mb-2"><span class="font-semibold">Customization: </span>Once satisfied with the suggestions,
            lock the elements and fine-tune the details to bring your vision to life.
        </p>
        <p class=""><span class="font-semibold">Visualization: </span>Explore a curated gallery
            of over 10,000 handpicked references, each linked to your chosen attributes.
        </p>
    </section>
    <section class="mb-2">
        <h4>The creator</h4>
        <p class="mb-2">Loremancer is developed and maintained by
            <span class="font-medium">Bastien Cailhol</span>, a developer passionate
            about design and fantasy. This project was born from his desire to help artists push the
            boundaries of their creativity by gamifying the process.
        </p>
        <p class="mb-2">Special thanks to <a href="https://github.com/SylvainMarty" target="_blank"
                rel="noopener noreferrer">Sylvain Marty</a> for his invaluable help!</p>
        <hr class="my-3">
        <p class="mb-2">If you’d like to share feedback, report bugs, or just say hello, feel free to reach
            out via email or follow us on social media:
        </p>
        <div class="grid sm:grid-cols-3 gap-2">
            <a href="mailto:bastien.cailhol@gmail.com" class="text-sm"><img src="assets/icons/email.svg"
                    alt="">bastien.cailhol@gmail.com
            </a>
            <a href="https://github.com/bastiencailhol/loremancer" target="_blank" rel="noopener noreferrer"
                class="text-sm"><img src="assets/icons/github.svg" alt="">bastiencailhol/loremancer
            </a>
            <a href="https://www.linkedin.com/in/bastiencailhol/" target="_blank" rel="noopener noreferrer"
                class="text-sm"><img src="assets/icons/linkedin.svg" alt="">bastiencailhol
            </a>
        </div>
    </section>
</div>